/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); */
body{
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.container{
    /* display: grid;
    grid-area: 20% 20%;
    grid-row-start:auto; */
    display: flex;
    flex-direction: row;
    padding-top:8% ;
    padding-left: 4%;
    /* padding-bottom: -7%; */
    font-size: 14px;
    padding-right: 2%;
    
   
   
}

.email,.name,  .links{
height: 80px;
width: 630px;



}

.name{
    padding-left: 60px;
    
    
}

.links a{
    padding: 5px;
    text-decoration: none;
    color:black;
    border-style: none;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;

    
}


.links a:hover{
    color: rgb(59, 59, 59);
    text-decoration: underline;
    border-style: none;
   
}

.links{
    margin-right: 8%;
    display: flex;
}

 .name{
    font-weight:bold;
    font-size: 25px;
    margin-top: -6%;
  
    

}

.email a{
     /* text-decoration: none; */
     color: black;
     /* font-family: 'Roboto', sans-serif; */
     font-size: 16px;

} 


.line{
    border-top: 1px solid black;
    width:90%;
    margin-left: 5%;
    margin-top: -30px;
    
}


.middle{
    display: flex;
    flex-direction:column;
    padding-left: 5%;
    padding-top: 3%;
    height:280px;
    font-family: 'Roboto', sans-serif;
}

.projects{
    height: 42px;
    font-weight: bold;
    font-size: 18px;
}




.writing{
    padding-left: 5%;
    font-size: 14px;
}

.bottom{
    padding-left: 15%;
    display: flex;
    padding-top: 2%;
    font-family: 'Roboto', sans-serif;
    
}

.col2{
    padding-left:43% ;
}

.list{
    text-align: center;
}

.heading{
    font-weight: bold;
}

.thanks{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 5%;
}


.whole{
    border: 1px solid black;
    max-width: 610px;
    display: block;
    margin: auto;
    /* padding: 10px; */
    margin-top: 10px;
    box-shadow: 3px 3px 3px 3px rgb(126, 123, 123);
}